
<div class="productsContainer">

  <form name="inputForm" class="add" novalidate ng-submit="inputForm.$valid && products.addItems()"  >
    <input
    placeholder="Name"
    ng-model="products.newItem.name"
    ng-class="{'invalid': inputForm.name.$error.minlength}"
    ng-minlength = "products.minLength"
    required = "true"
    type="text"
    name="name">

    <input
    placeholder="Price"
    ng-model="products.newItem.price"
    type="number"
    name="price">

    <input
    placeholder="Quantity"
    ng-model="products.newItem.quantity"
    type="number"
    name="quantity">

    <input
    placeholder="Color"
    ng-model="products.newItem.color"
    ng-class="{'invalid': inputForm.color.$error.minlength}"
    ng-minlength = "products.minLength"
    type="text"
    name="color">

    <input
    placeholder="Discount"
    ng-model="products.newItem.discount"
    type="number"
    name="discount">

    <button
    type='submit'
    class="submit"
    >Send</button>

  </form>
</div>
