<div class="container" ng-controller="LoginController">
<table class=userInfoTable>
  <tr>
    <!-- <td class='userInfo'>Welcome, </td> -->
    <td class="userInfo">Hi  {{login.getInfo()[0].firstName}} {{login.getInfo()[0].lastName}}!</td>
  </tr>
</table ng-click="login.test">

<form ng-submit = "login.submit()" ng-controller="LoginController">
<input class='inputField' type="text" name="firstName" placeholder="First Name" ng-model="login.inputInfo.firstName">
<input class='inputField' type="text" name="lastName" placeholder="Last Name" ng-model="login.inputInfo.lastName">
<button class='userInfoBtn' type="submit" name="submitLogin">Login</button>
</form>
</div>
