// Variables

$aqua: rgba(#25B7C0, .5);
$vspace: 10px;
$hspace: 15px;

// General Styles
body {
  background: url('assets/symphony.png');
  font-family: 'Open Sans', sans-serif;;
}

.listItem {
  float: left;
  list-style: none;
  margin-left: 15px;
  margin-bottom: 25px;

  a {
    text-decoration: none;
  }
}

h1 {
  margin-top: 50px;
  text-align: center;
  font-size: 40px;
  clear: both;
}

// View Items View Styles //

img {
    width: 20px;
    height: 20px;
}

.itemView {
    background: $aqua;
    margin: 25px auto;
    color: white;
    box-shadow: 0px 1px 60px -5px rgba(0,0,0,0.75);
    clear: both;
    position: relative;

    th {
      padding: $hspace;
      text-align: left;
      font-weight: bold;
      font-size: 20px;
      background: rgba(white, .5);
      cursor: pointer;

      &:hover {
        background: darken($aqua, 5%);
      }
    }

    .itemRow {
        padding: $hspace;
        border: 1px solid rgba(white, .2);

        &:nth-child(odd) {
          background: lighten($aqua, 5%);
        }
    }

    .item {
        padding: $hspace;

        &:hover {
          color: black;
          transform: scale(1.25);
          cursor: pointer;
        }
    }
}

// Add Items View Styles //


.invalid {
  border: 2px solid red;
}

input {
  clear: both;
  float: left;
  display: block;
  margin-left: 40px;
}

form {
  position: relative;
  margin: 15px;
  background: red;

  button {
    position: absolute;
    top: 175px;
    left: 40px;
  }
}

// Login View Styles //

.userInfo {
  color: black;
  border: none;
  float: left;
  margin-right: 10px;
}

.userInfoTable {
  float: right;
}

.userInfoBtn {
  position: absolute;
  top: 110px;
  left: 40px;
}

.inputField {
  margin-left: 40px;
}
